# Core Utils
github "Alamofire/Alamofire" ~> 4.4
github "SwiftyJSON/SwiftyJSON" ~> 3.1
github "malcommac/SwiftLocation" ~> 2.0
github "onevcat/Kingfisher" ~> 3.6

# Transition Library
github "Fuxingloh/KMNavigationBarTransition" "master"
github "lkzhao/Hero" ~> 0.3

# UI Utils
github "SnapKit/SnapKit" ~> 3.2.0

# UI Components Library
github "eggswift/ESTabBarController" ~> 2.4
github "Fuxingloh/MXSegmentedPager" "master"
github "vicentesuarez/Swift-FlexibleHeightBar" ~> 1.0
github "suzuki-0000/SKPhotoBrowser" ~> 4.0
