<!-- Auth0.plist -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>TORdR8yG6lAhFWMbx4Kmb5en0ERF7p_j</string>
  <key>Domain</key>
  <string>munchapp.au.auth0.com</string>
</dict>
</plist>